<!DOCTYPE HTML>

<html lang="pt-br">

<head>

	<meta charset="UTF-8">

<link rel="stylesheet" type="text/css" href="default.css">
	<link rel="stylesheet" type="text/css" href="master.css">

	<title>Yards - Design</title>
	<script type="text/javascript">
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
    </script>
</head>

<body onLoad="MM_preloadImages('imagens/botao_convite_mouse.png','imagens/botao_facebook_mouse.png','imagens/botao_criar_yard_mouse.jpg')">
<!--  <div class=""></div>  -->

<div class="all">
    
    <!-- Esquerda -->
    
    <div class="col_left">

	  <div id="bem_vindo">
      
      <img src="imagens/bem_vindo.png" />
     
      </div>
       
      <b>  <p class="p_bem">
        	Você foi convidado a ser o mais novo membro do Yards!</p><br/><br/>
            <p class="p_bem">
Agora é só se cadastrar e começar a comprar, vender e trocar<br/> produtos com os seus amigos.</p><br/>
<br/><br/>
<p class="p_bem">
Aproveite!</b>

      </p>
<div id="cad2">
      <h1>
        
        Crie uma conta com o seu e-mail.
        
      </h1>
      </div>
        
      <div class="form2">
            <input type="text" placeholder="E-mail" style="width:100%;" />
            <input type="text" placeholder="Digite novamente seu e-mail" style="width:100%;" />
            <input type="text" placeholder="Senha" style="width:100%;" />
            <input type="text" placeholder="Digite novamente sua senha" style="width:100%;" />
            <input type="text" placeholder="Nome" style="width:100%;" />
            <input type="text" placeholder="Sobrenome" style="width:100%;" />
            
            
                            
           
      </div>
        
        <div id="data_dia">
        
        <p>Data de nascimento: </p>

<img src="imagens/b_dia.jpg" border="0"/>


</div>    

 <div id="data_mes">

<img src="imagens/b_mes.jpg" border="0"/>


</div>    

 <div id="data_ano">

<img src="imagens/b_ano.jpg" border="0"/>


</div> 

<div id="sexo">

<p>Sexo:</p>

<img src="imagens/b_sexo.jpg" border="0" />

</div>   

 <div id="b_criar_yard">
        
       <a href="#" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('botao_criar','','imagens/botao_criar_yard_mouse.jpg',1)"><img src="imagens/botao_criar_yard.jpg" width="304" height="85" id="botao_criar"> </a> </div>
        
        
    </div>


        
        <div id="ou2">
        
        <img src="imagens/ou.png" border="0" />
        
        </div>
        
        <div id="b_facebook2">
        
        <a href="#" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('face','','imagens/botao_facebook_mouse.png',1)"><img src="imagens/botao_facebook.png" width="328" height="96" id="face" border="0"></a> </div>
        
        
</div>
    
    <!-- Direita -->
    
    <div class="col_right">&nbsp;</div>
</div>

<div class="rodape3">

<img src="imagens/rodape_pag3].png" border="0" />


</div>

</body>

</html>