<!DOCTYPE HTML>

<html lang="pt-br">

<head>

	<meta charset="UTF-8">

<link rel="stylesheet" type="text/css" href="default.css">
	<link rel="stylesheet" type="text/css" href="master.css">

	<title>Yards - Design</title>
	<script type="text/javascript">
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
    </script>
</head>

<body onLoad="MM_preloadImages('imagens/botao_convite_mouse.png','imagens/botao_facebook_mouse.png','imagens/botao_criar_yard_mouse.jpg')">
<!--  <div class=""></div>  -->

<div class="all">
    
    <!-- Esquerda -->
    
    <div class="col_left">

	  
      
      <img src="imagens/logoyard.gif" style="position: absolute; margin-top: 30px; margin-left: 100px;" />
     
      
       
      <b>  <p style="font-size: 20px; font-weight:bold;position: absolute; width: 500px; margin-left: 100px; margin-top:170px;">
        	Seja bem-vindo.<br><br>
Crie a sua conta para explorar as ofertas 
dos seus amigos e fazer as suas</p><br/><br/>
        
       <br>
      <br>
      <br>
      <br>
       <br>
      <br>
      <br>
      <br>
       <br>
      <br>
      <br>
      <br>
       <br>
      <br>
      <br>
      <br>
      <br>
        
        <a href="/facebook" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('face','','imagens/botao_facebook_mouse.png',1)"><img src="imagens/botao_facebook.png" width="328" height="96" border="0" style="margin-top: -270px; margin-left: 840px; position:absolute;"></a> 
      <br>
      <br>
      <br>
      <br>
      
        
        
        <img src="imagens/ou.png" border="0" style="margin-top: -240px; position: absolute; margin-left: 850px;width: 340px;" />
           <br>
      <br>
      <br>
      <br>
        
        
<div id="cad2">
      <h1>
        
        Crie uma conta com o seu e-mail.
        
      </h1>
      </div>
        
      <div class="form2">
      <%- body %>  
            
                            
           
      </div>
        
       
        
    </div>

<p style="position: absolute; margin-left: 870px; margin-top: 470px; width: 300px; text-align:center; font-size: 10px;">

Ao criar uma conta, você está concordando com nossas <a href="#" style="color:#333; text-decoration:underline; border: none;">Termos 
de Uso</a> e nossa <a href="#" style="color:#333; text-decoration:underline; border: none;">Política de Privacidade</a>

</p>
        
      

<p style="color:#000; font-size: 16px; position: absolute; margin-top: 560px; margin-left: 920px;"><b>
Já tem uma conta no Yards?</b>
</p>        
       
        
        
</div>


<A href="/"><img src="imagens/ja.png" style="position:absolute; margin-left: 870px; margin-top: 600px; width: 310px;"/></a>


    
    <!-- Direita -->
    
    <div class="col_right">&nbsp;</div>
</div>

<div class="rodape3">

<img src="imagens/rodape_pag3].png" border="0" />


</div>

</body>

</html>