<!DOCTYPE HTML>

<html lang="pt-br">

<head>

	<meta charset="UTF-8">

	<link rel="stylesheet" type="text/css" href="default.css">
	<link rel="stylesheet" type="text/css" href="master.css">

	<title>Yards - Design</title>

</head>

<body>

<div class="all">
    <div class="btop">
	<!-- Linha Usuário Ajuda e Opções -->    
    	<div class="ln1">
        	<ul style="float: left;">
            	<li><b>Gabriel Melo</b></li>
                <li class="li1">&nbsp;</li>
                <li><a href="#">Logout</a></li>
            </ul>
            <a href="#" class="gearopc"> <span></span></a>
		<!-- Ajuda -->
            <ul style="float: right; padding-right: 10px;">
            	<li><b>Vender</b></li>
                	<li class="li1">&nbsp;</li>
                <li><b>Ajuda</b></li>
                	<li class="li1">&nbsp;</li>
                <li><b>Fale Conosco</b></li>
            </ul>
        </div>
		<!-- Busca -->
        <div class="ln2">
        	<!-- Categorias Marcas -->
            <ul class="it2">    
                <li>Categorias</li>
                	<li class="it">&nbsp;</li>
                <li class="div">Marcas</li>
                	<li class="it">&nbsp;</li>
            </ul>
            <!-- Busca -->
            <div class="search">
            <ul class="filtro"><li>Todo o site</li><li class="ol">&nbsp;</li></ul>
            	<input type="text" placeholder="Procure aqui por ítens, amigos, marcas, categorias de produtos" class="noclass" />
            	<input type="button" value="Buscar" style="float:right; margin-right: -4px; margin-top: -1px;" />
            </div>
        </div>
    </div>
    
    <!-- Esquerda -->
    
    <div class="content1">
    <!-- Dicas -->

    	<a href="#">Home</a>
        <div  style="margin-top: 15px;" class="boxWithe"><span class="leaf">Dicas:</span>  Quanto mais contatos mais gente poderá comprar o seu produto. <a href="#" style="text-decoration:underline;">Convide mais amigos</a>
</div>
    
    <!-- Experiência Yards -->
    
     
    
        <div class="boxGray" style="margin-top: 15px; height: 200px;">
        
       <div class="boxWhite3" style="margin-top: -7px; width: 250px; height: 170px; margin-left: 2px;">
       
       
        
        </div>
        
       
        	
            
             <p style="font-family: Arial, Helvetica, sans-serif;
color: #666;
font-size: 11px;
position: absolute;
margin-left: 320px;">Celular</p> <h3 style="font-family: Arial, Helvetica, sans-serif;
color: #090;
font-size: 11px;
position: absolute;
margin-left: 365px;
margin-top: 10px;
font-weight:bold;"><b>Apple</b></h3>
             
             <img id="core2" src="imagens/coracao.png" border="0" />
             
             <br>
            
            <h1 style="font-family: Arial, Helvetica, sans-serif;
color: #666;
font-size: 15px;
position: absolute;
margin-left: 320px;">iPhone 5</h1><br>
            <br>
            
            <h2 style="font-family: Arial, Helvetica, sans-serif;
color: #090;
font-size: 19px;
position: absolute;
margin-left: 320px;
margin-top: 30px;">A partir de R$ 400</h2>
            <br>
            
             <div id="data_dia2">
            
            <ul class="it2">    
                <li><b>Ver modelos</b></li>
                    
                    </ul>
                    </div>
                    
                    <br>
            
            <img src="imagens/estrelas.png" border="0" style="margin-top: -26px;
position: absolute;
margin-left: 300px;" />
            
           
            <br>
             <ul style="padding:3px 0 0 0; margin-left:320px; margin-top: 50px; font-size: 9px; font-weight: none; position:absolute;">
                        <li><b>Compartilhar</b></li>
                        <li class="li1">&nbsp;</li>
                        <li>Lista de desejos</li>
                    </ul>
        
        
        </div>
        <div class="boxGray" style="margin-top: 15px; height: 200px; ">
        
       <div class="boxWhite3" style="margin-top: -7px; width: 250px; height: 170px; margin-left: 2px;">
        
         </div>
        
       
        	
            
             <p style="font-family: Arial, Helvetica, sans-serif;
color: #666;
font-size: 11px;
position: absolute;
margin-left: 320px;">Celular</p> <h3 style="font-family: Arial, Helvetica, sans-serif;
color: #090;
font-size: 11px;
position: absolute;
margin-left: 365px;
margin-top: 10px;
font-weight:bold;"><b>Nokia</b></h3>
             
             <img id="core2" src="imagens/coracao.png" border="0" />
             
             <br>
            
            <h1 style="font-family: Arial, Helvetica, sans-serif;
color: #666;
font-size: 15px;
position: absolute;
margin-left: 320px;">Lumia 900</h1><br>
            <br>
            
            <h2 style="font-family: Arial, Helvetica, sans-serif;
color: #090;
font-size: 19px;
position: absolute;
margin-left: 320px;
margin-top: 30px;">A partir de R$ 200</h2>
            <br>
            
             <div id="data_dia2">
            
            <ul class="it2">    
                <li><b>Ver modelos</b></li>
                    
                    </ul>
                    </div>
                    
                    <br>
            
            <img src="imagens/estrelas.png" border="0" style="margin-top: -26px;
position: absolute;
margin-left: 300px;" />
            
            <br>
           
             <ul style="padding:3px 0 0 0; margin-left:320px; margin-top: 50px; font-size: 9px; font-weight: none; position:absolute;">
                        <li><b>Compartilhar</b></li>
                        <li class="li1">&nbsp;</li>
                        <li>Lista de desejos</li>
                    </ul>
        
        
        
        
        
        
          </div>
          
          
              <div class="boxGray" style="margin-top: 15px; height: 200px; ">
        
       <div class="boxWhite3" style="margin-top: -7px; width: 250px; height: 170px; margin-left: 2px;">
        
         </div>
        
       
        	
            
             <p style="font-family: Arial, Helvetica, sans-serif;
color: #666;
font-size: 11px;
position: absolute;
margin-left: 320px;">Celular</p> <h3 style="font-family: Arial, Helvetica, sans-serif;
color: #090;
font-size: 11px;
position: absolute;
margin-left: 365px;
margin-top: 10px;
font-weight:bold;"><b>Samsung</b></h3>
             
             <img id="core3" src="imagens/coracao.png" border="0" />
             
             <br>
            
            <h1 style="font-family: Arial, Helvetica, sans-serif;
color: #666;
font-size: 15px;
position: absolute;
margin-left: 320px;">Galaxy S4</h1><br>
            <br>
            
            <h2 style="font-family: Arial, Helvetica, sans-serif;
color: #090;
font-size: 19px;
position: absolute;
margin-left: 320px;
margin-top: 30px;">A partir de R$ 350</h2>
            <br>
            
             <div id="data_dia2">
            
            <ul class="it2">    
                <li><b>Ver modelos</b></li>
                    
                    </ul>
                    </div>
                    
                    <br>
            
            <img src="imagens/estrelas.png" border="0" style="margin-top: -26px;
position: absolute;
margin-left: 300px;" />
            
          
            <br>
             <ul style="padding:3px 0 0 0; margin-left:320px; margin-top: 50px; font-size: 9px; font-weight: none; position:absolute;">
                        <li><b>Compartilhar</b></li>
                        <li class="li1">&nbsp;</li>
                        <li>Lista de desejos</li>
                    </ul>
        
        
        
        
        
        
          </div>
        
        
        
        
     <!-- Fotos de Produtos -->
        <div  style="margin-top: 15px;" class="boxWithe">
        	<p><b>Mais vendidos</b>&nbsp;&nbsp;<a href="#">Ver todos</a></p>
     <!-- Produto1 -->
     <div class="prod">
            <div class="boxGray noshadow">
            	<div class="imgprod"><!-- A IMAGEM vem aqui --></div>
                <!-- Linha 1 -->
                <div><span>Celular</span>&nbsp;&nbsp;<span class="leaf"><a href="#">Apple<span>&nbsp;</span></a></span></div>
                <!-- Linha 2 -->
                <div>iPhone5</div>
                <!-- Linha 3 Preço -->
                <p>a partir de <span class="dark">R$400,00</span></p>
                <input type="button" style="width: 100%;" value="Ver Opções"/>
	            <div class="">
                    <ul style="padding:3px 0 0 0; margin:0;">
                        <li><b>4 amigos</b></li>
                        <li class="li1">&nbsp;</li>
                        <li>9 conhecidos</li>
                    </ul>
                </div>
            </div>
                    <ul style="padding:3px 0 0 0; margin:0; font-size: 9px; font-weight: none;">
                        <li><b>Compartilhar</b></li>
                        <li class="li1">&nbsp;</li>
                        <li>Lista de desejos</li>
                    </ul>
     </div>
     <!-- Produto2 -->
          <div class="prod">
            <div class="boxGray noshadow">
            	<div class="imgprod"><!-- A IMAGEM vem aqui --></div>
                <!-- Linha 1 -->
                <div><span>Celular</span>&nbsp;&nbsp;<span class="leaf"><a href="#">Apple<span>&nbsp;</span></a></span></div>
                <!-- Linha 2 -->
                <div>iPhone5</div>
                <!-- Linha 3 Preço -->
                <p>a partir de <span class="dark">R$400,00</span></p>
                <input type="button" style="width: 100%;" value="Ver Opções"/>
	            <div class="">
                    <ul style="padding:3px 0 0 0; margin:0;">
                        <li><b>4 amigos</b></li>
                        <li class="li1">&nbsp;</li>
                        <li>9 conhecidos</li>
                    </ul>
                </div>
            </div>
                    <ul style="padding:3px 0 0 0; margin:0; font-size: 9px; font-weight: none;">
                        <li><b>Compartilhar</b></li>
                        <li class="li1">&nbsp;</li>
                        <li>Lista de desejos</li>
                    </ul>
     </div>
        </div>
    </div>
    
    <!-- Direita -->
    
    <div class="sections">
    
    	<!-- Alertas Mensagens -->
        <div class="boxGray">Alertas <span class="wick">1</span></div>
        <div class="boxGray">Mensagens <span class="wick">5</span></div>
		
        <!-- Inicio menu -->
        <div style="margin-top: 20px;" class="boxWithe dark">Meus produto(s) 10<span class="ico2"></span><span class="ico1"></span></div>
        <!-- Submenu -->
        <ul class="submenu">
        	<li class="boxGray noshadow">Adidas</li>
        	<li class="boxGray noshadow">Nike</li>
        	<li class="boxGray noshadow">Puma</li>
        </ul>
        <div style="margin-top: 20px;" class="boxWithe dark">Meus produto(s) 10<span class="ico2"></span><span class="ico1"></span></div>
        <!-- Submenu -->
        <ul class="submenu">
        	<li class="boxGray noshadow">Adidas</li>
        	<li class="boxGray noshadow">Nike</li>
        	<li class="boxGray noshadow">Puma</li>
        </ul>
    
    </div>
</div>

</body>

</html>
