
<div class="form1">
            <input type="text" placeholder="E-mail" style="width:100%;" />
            <input type="text" placeholder="Senha" style="width:100%;" />
             <input name="" type="checkbox" value="" style="margin-top: 15px;" />Manter conectado<br>
            <input type="button" value="Enviar" style="margin-top: 20px;" /><br /><br />
            Esqueceu o e-mail ou senha?
            
            
                  
           
        </div>
        
        <div id="ou">
        
        <img src="/imagens/ou.png" border="0" />
        
        </div>
        
        <div id="b_facebook">
        
        <a href="/facebook" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('face','','/imagens/botao_facebook_mouse.png',1)"><img src="/imagens/botao_facebook.png" width="328" height="96" id="face" border="0"></a> </div>
        
        
    	</div>