<!DOCTYPE HTML>

<html lang="pt-br">

<head>

	<meta charset="UTF-8">

	<link rel="stylesheet" type="text/css" href="default.css">
	<link rel="stylesheet" type="text/css" href="master.css">

	<title>Yards - Design</title>

</head>

<body>

<div class="all">
    <div class="btop">
	<!-- Linha Usuário Ajuda e Opções -->    
    	<div class="ln1">
        	<ul style="float: left;">
            	<li><b>Gabriel Melo</b></li>
                <li class="li1">&nbsp;</li>
                <li><a href="#">Logout</a></li>
            </ul>
            <a href="#" class="gearopc"> <span></span></a>
		<!-- Ajuda -->
            <ul style="float: right; padding-right: 10px;">
            	<li><b>Vender</b></li>
                	<li class="li1">&nbsp;</li>
                <li><b>Ajuda</b></li>
                	<li class="li1">&nbsp;</li>
                <li><b>Fale Conosco</b></li>
            </ul>
        </div>
		<!-- Busca -->
        <div class="ln2">
        	<!-- Categorias Marcas -->
            <ul class="it2">    
                <li>Categorias</li>
                	<li class="it">&nbsp;</li>
                <li class="div">Marcas</li>
                	<li class="it">&nbsp;</li>
            </ul>
            <!-- Busca -->
            <div class="search">
            <ul class="filtro"><li>Todo o site</li><li class="ol">&nbsp;</li></ul>
            	<input type="text" placeholder="Procure aqui por ítens, amigos, marcas, categorias de produtos" class="noclass" />
            	<input type="button" value="Buscar" style="float:right; margin-right: -4px; margin-top: -1px;" />
            </div>
        </div>
    </div>
    
    <!-- Esquerda -->
    
    <div class="content1">
    <!-- Dicas -->

    	<a href="#">Home</a> > <a href="#">Resultados da Pesquisa</a>
        <div  style="margin-top: 15px; " class="boxWithe"><span class="leaf" style="font-size:18px;">Nenhum dos seus amigos está vendendo um(a) “Celular”<br>
</span> <a href="#" style="text-decoration:underline;">Convide mais amigos</a> ou coloque este produto na sua <a href="#" style="text-decoration:underline;">Lista de Desejos</a> para que outros saibam o que você procura.
 </div>
    
    <!-- Experiência Yards -->
    
       <br><br><br><br><br><br><br><br><br>
       
       
       
       
       
       
       
     </div>
    
    <!-- Direita -->
    
    <div class="sections">
    
    	<!-- Alertas Mensagens -->
        <div class="boxGray">Alertas <span class="wick">1</span></div>
        <div class="boxGray">Mensagens <span class="wick">5</span></div>
		
        <!-- Inicio menu -->
        <div style="margin-top: 20px;" class="boxWithe dark">Meus produto(s) 10<span class="ico2"></span><span class="ico1"></span></div>
        <!-- Submenu -->
        <ul class="submenu">
        	<li class="boxGray noshadow">Celular iPhone5 <h3 style="font-size: 10px; color: #090; margin-top: -11px;margin-left: 130px;">R$400,00</h3></li>
        	<li class="boxGray noshadow">Livro "Cinquenta Tons...<h3 style="font-size: 10px; color: #090; margin-top: -11px;margin-left: 130px;">R$ 15</h3></li>
     
        </ul>
        
        <div style="margin-top: 20px;" class="boxWithe dark">Grupos (1)<span class="ico2"></span><span class="ico1"></span></div>
        <!-- Submenu -->
        <ul class="submenu">
        	<li class="boxGray noshadow">Mosqueteiros</li>
        </ul>
        
         <div style="margin-top: 20px;" class="boxWithe dark">Eventos (0)<span class="ico2"></span><span class="ico1"></span></div>
       
        <div style="margin-top: -1px;" class="boxWithe dark">Marcas (7)<span class="ico2"></span><span class="ico1"></span></div>
          <!-- Submenu -->
        <ul class="submenu">
        	<li class="boxGray noshadow">Apple</li>
        </ul>
          <!-- Submenu -->
        <ul class="submenu">
        	<li class="boxGray noshadow">Adidas</li>
        </ul>
          <!-- Submenu -->
        <ul class="submenu">
        	<li class="boxGray noshadow">Nike</li>
        </ul>
          <!-- Submenu -->
        <ul class="submenu">
        	<li class="boxGray noshadow">Levi's</li>
        </ul>
          <!-- Submenu -->
        <ul class="submenu">
        	<li class="boxGray noshadow">Oslen</li>
        </ul>
          <!-- Submenu -->
        <ul class="submenu">
        	<li class="boxGray noshadow">Natura</li>
        </ul>
          <!-- Submenu -->
        <ul class="submenu">
        	<li class="boxGray noshadow">Coverse</li>
        </ul>
         <div style="margin-top: -1px;" class="boxWithe dark">Lista de desejos (12)<span class="ico2"></span><span class="ico1"></span></div>
            <!-- Submenu -->
        <ul class="submenu">
        	<li class="boxGray noshadow">Caneca Darth Vader</li>
        </ul>
           <!-- Submenu -->
        <ul class="submenu">
        	<li class="boxGray noshadow">Moletom</li>
        </ul>
        
       
    
    </div>
    
    
    
    
    
</div>

</body>

</html>
